@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/home.css");
@import "~stream-chat-react/dist/css/v2/index.css";

body {
  font-family: "Inter", sans-serif;
}
.cl-organizationSwitcherTrigger {
  background: #c9b8f9;
  color: #000000;
}

.cl-organizationSwitcherTrigger:hover {
  background: #a193c7;
}

.cl-internal-552i73 {
  color: white;
}

.str-video__video {
  transform: scale(-1, 1);
}

@layer utilities {
  .background-light850_dark100 {
    @apply bg-light-850 dark:bg-dark-100;
  }

  .background-light900_dark200 {
    @apply bg-light-900 dark:bg-dark-200;
  }

  .background-light900_dark300 {
    @apply bg-light-900 dark:bg-dark-300;
  }

  .background-light800_dark400 {
    @apply bg-light-800 dark:bg-dark-400 !important;
  }

  .background-light700_dark400 {
    @apply bg-light-700 dark:bg-dark-400;
  }

  .background-light700_dark300 {
    @apply bg-light-700 dark:bg-dark-300;
  }

  .background-light800_dark400 {
    @apply bg-light-800 dark:bg-dark-400;
  }

  .background-light800_dark300 {
    @apply bg-light-800 dark:bg-dark-300 !important;
  }
  .background-light800_dark200 {
    @apply bg-light-800 dark:bg-dark-200 !important;
  }
  .background-light500_dark500 {
    @apply bg-light-500 dark:bg-dark-500 !important;
  }

  .text-dark100_light900 {
    @apply text-dark-100 dark:text-light-900 !important;
  }
  .text-dark900_light100 {
    @apply text-light-900 dark:text-dark-100 !important;
  }

  .text-dark200_light900 {
    @apply text-dark-200 dark:text-light-900;
  }

  .text-dark200_light800 {
    @apply text-dark-200 dark:text-light-800 !important;
  }

  .text-dark300_light700 {
    @apply text-dark-300 dark:text-light-700;
  }

  .text-dark400_light700 {
    @apply text-dark-400 dark:text-light-700;
  }

  .text-dark500_light700 {
    @apply text-dark-500 dark:text-light-700 !important;
  }

  .text-dark500_light500 {
    @apply text-dark-500 dark:text-light-500;
  }

  .text-dark300_light900 {
    @apply text-dark-300 dark:text-light-900 !important;
  }

  .text-dark400_light800 {
    @apply text-dark-400 dark:text-light-800;
  }

  .text-light400_light500 {
    @apply text-light-400 dark:text-light-500 !important;
  }

  .text-dark400_light500 {
    @apply text-dark-400 dark:text-light-500;
  }

  .text-dark400_light900 {
    @apply text-dark-400 dark:text-light-900 !important;
  }

  .text-light400_light500 {
    @apply text-light-400 dark:text-light-500 !important;
  }

  .light-border {
    @apply border-light-800 dark:border-dark-300;
  }

  .light-border-2 {
    @apply border-light-700 dark:border-dark-400 !important;
  }

  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }

  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }

  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }

  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }

  .base-semibold {
    @apply text-[18px] font-semibold leading-[25.2px];
  }

  .base-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }

  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }

  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }

  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }

  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }

  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }

  .subtle-medium {
    @apply text-[10px] font-medium leading-[13px] !important;
  }

  .subtle-regular {
    @apply text-[10px] font-normal leading-[13px];
  }

  .placeholder {
    @apply placeholder:text-light-400 dark:placeholder:text-light-500;
  }

  .invert-colors {
    @apply invert dark:invert-0;
  }

  .shadow-light100_dark100 {
    @apply shadow-light-100 dark:shadow-dark-100;
  }

  .shadow-light100_darknone {
    @apply shadow-light-100 dark:shadow-none;
  }
  .btn-secondary {
    @apply bg-light-800 dark:bg-dark-400 !important;
  }

  .btn-tertiary {
    @apply bg-light-700 dark:bg-dark-300 !important;
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }
}

@layer base {
  .both-center {
    @apply items-center justify-center;
  }
  :root {
    --color-gray-900: #d9d9d9;
    --size-size-xsmall: 16px;
    --space-space-unit: 16px;
    --size-size-maxwidth: 1400px;
    --color-custom-accent1: #191b5b;
    --space-space-halfunit: 8px;
    --space-space-sixunits: 96px;
    --space-space-twounits: 32px;
    --color-custom-primary1: #c9b8f9;
    --color-custom-primary2: #a193c7;
    --space-space-fourunits: 64px;
    --space-space-threeunits: 48px;
    --color-custom-neutral-dark: #07081d;
    --color-custom-neutral-light: #ffffff;
    --space-space-oneandhalfunits: 24px;
  }
}

@layer base {
  .no-focus {
    @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .buttonFilled {
    @apply text-[var(--color-custom-neutral-dark)] transition-all duration-300 font-bold py-[var(--space-space-halfunit)] px-[var(--space-space-oneandhalfunits)] rounded-[8px] bg-[var(--color-custom-primary1)];
  }
  .buttonFilled:hover {
    @apply bg-[var(--color-custom-primary2)];
  }
  .buttonFilledSecondary {
    @apply text-[var(--color-custom-neutral-light)] transition-all duration-300 font-bold py-[var(--space-space-halfunit)] px-[var(--space-space-oneandhalfunits)] rounded-[8px] bg-[var(--color-custom-neutral-dark)];
  }
  .buttonFilledSecondary:hover {
    @apply text-[var(--color-custom-neutral-dark)] bg-[var(--color-custom-primary2)];
  }
  .buttonFlat {
    @apply text-[var(--color-custom-neutral-light)] font-bold py-[var(--space-space-halfunit)] px-[var(--space-space-oneandhalfunits)];
  }
  .buttonFlat:hover {
    @apply text-[var(--color-custom-primary1)];
  }
  .featuresContainer {
    @apply w-full flex-[0_0_auto] flex-col both-center background-light800_dark300 text-[var(--color-custom-neutral-light)];
  }
  .featuresCard {
    @apply w-full flex items-start p-[var(--space-space-oneandhalfunits)] background-light700_dark400 text-dark100_light900;
  }
  .featuresIcon {
    @apply fill-[var(--color-custom-neutral-light)] w-[2rem] h-[2rem] flex-shrink-0 mr-[var(--space-space-oneandhalfunits)];
  }
  .faqContainer {
    @apply flex-[0_0_auto] background-light850_dark100 text-[var(--color-custom-neutral-light)] w-full flex both-center;
  }
  .heroContainer {
    @apply flex background-light800_dark300 text-[var(--color-custom-neutral-light)] w-full both-center px-[var(--space-space-threeunits)] py-[var(--space-space-sixunits)]  flex-col;
  }
  .footerContainer {
    @apply gap-[var(--space-space-twounits)] text-[var(--color-custom-neutral-light)] w-full flex items-center px-[var(--space-space-threeunits)] py-[var(--space-space-twounits)] flex-col justify-between bg-light-400 dark:bg-dark-400;
  }
  .logo {
    @apply text-[2rem] font-bold uppercase leading-[150%];
  }
  .overtext {
    @apply text-[12px] font-bold uppercase leading-[150%] text-dark100_light900;
  }
  .heading3 {
    @apply text-[20px] text-center font-semibold leading-[150%];
  }
  .bodySmall {
    @apply text-[16px] font-normal leading-[150%];
  }
  .heading2 {
    @apply text-[35px] font-semibold leading-[150%] text-dark100_light900;
  }
  .heading1 {
    @apply text-[48px] text-center font-bold leading-[150%] text-dark100_light900;
  }
  .bodyLarge {
    @apply text-[18px] font-normal leading-[150%];
  }

  .primary-gradient {
    background: linear-gradient(100deg, #34056d 0%, #30055b 100%);
  }

  @media (max-width: 1000px) {
    .logo {
      @apply hidden !important;
    }
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .dark-gradient {
    background: linear-gradient(
      232deg,
      rgba(23, 28, 35, 0.41) 0%,
      rgba(19, 22, 28, 0.7) 100%
    );
  }
}

.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.active-theme {
  filter: brightness(0) saturate(100%) invert(39%) sepia(65%) saturate(6716%)
    hue-rotate(272deg) brightness(90%) contrast(88%) !important;
}

.primary-text-gradient {
  background: linear-gradient(129deg, #07081d 0%, #c9b8f9 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Clerk */
.cl-internal-b3fm6y {
  background: linear-gradient(129deg, #6600ff 0%, #a75fe2 100%) !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
